<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <% flash.now[:warning] = question.errors.full_messages[0] %>
  <% end %>

	<%= form.hidden_field :assessment_id, :value => @question.assessment_id %>
	
	<div class="form-group">
			<%= form.label :Title , "Question title"%>
			<%= form.text_field :Title, class: "form-control", value: "Question 1"%>
	</div>
	
	<div class="form-group">
		<%= form.label :Type , "Question type"%>
		<%= form.select(:Type, options_for_select({ "Multiple choice" => "MCQ", "Multiple answer" => "MA", "Fill in the blank" => "FTB", "Random variable" => "FRM", "True / False" => "TF" , "Regular expression" => "REG" }, selected: @question.Type), {prompt: "Please choose a question type"}, {class: "form-control"} ) %>
	</div>
	
	<div class="form-group">
			<%= form.label :Text , "Question Text"%>
			<%= form.text_area :Text, class: "form-control tinymceT", placeholder: "What is..."%>
	</div>
	
	
	<div class="form-group">
		<%= form.label "Options"%>
		<div class="form-check" style="margin-top: 5px">
			<%= if @question.Options
			check_box 'Negative', 'result', {class: "form-check-input",checked: @question.Options.include?('NEG1')}, 1, 0
			else
			check_box 'Negative', 'result', {class: "form-check-input"}, 1, 0
			end%>
			<label class="form-check-label" for="options">Negative marking: (Applicable when only no correct answer was chosen)</label>
			<%= if @question.Options
				if @question.Options.include?('NEG1')
					if @question.Type=="MA"
						form.text_field :negValue, name: "negValue", class: "form-control", value: @question.Options[5..-5], for: "options", type: "number"
					else
						if @question.Type=="FTB"
							form.text_field :negValue, name: "negValue", class: "form-control", value: @question.Options[5..-13], for: "options", type: "number"
						else
							form.text_field :negValue, name: "negValue", class: "form-control", value: @question.Options[5..-1], for: "options", type: "number"
						end
					end
				else
					form.text_field :negValue, name: "negValue", class: "form-control", value: 5, for: "options", type: "number"
				end
			else
				form.text_field :negValue, name: "negValue", class: "form-control", value: 5, for: "options", type: "number"
			end%>
		</div>
		<% if @question.Type=="MA" %>
		<div class="form-check MA" style="margin-top: 5px">
		<% else %>
		<div style="display: none;" class="form-check MA" style="margin-top: 5px">
		<% end %>
			<%= if @question.Options
				check_box 'Partial', 'result', {class: "form-check-input",checked: @question.Options.include?('PAR1')}, 1, 0
			else
				check_box 'Partial', 'result', {class: "form-check-input"}, 1, 0
			end%>
			<label class="form-check-label" for="partial">Allow partial credit</label>
		</div>
		<% if @question.Type=="FTB" %>
		<div class="form-check FTB" style="margin-top: 5px">
		<% else %>
		<div style="display: none;" class="form-check FTB" style="margin-top: 5px">
		<% end %>
			<%= if @question.Options
				check_box 'Contains', 'result', {class: "form-check-input",checked: @question.Options.include?('CON1')}, 1, 0
			else
				check_box 'Contains', 'result', {class: "form-check-input"}, 1, 0
			end%>
			<label class="form-check-label" for="contains">Allow answers that contain the correct answer</label>
		</div>
		<% if @question.Type=="FTB" %>
		<div class="form-check FTB" style="margin-top: 5px">
		<% else %>
		<div style="display: none;" class="form-check FTB" style="margin-top: 5px">
		<% end %>
			<%= if @question.Options
				check_box 'CaseSensitive', 'result', {class: "form-check-input",checked: @question.Options.include?('CAS1')}, 1, 0
			else
				check_box 'CaseSensitive', 'result', {class: "form-check-input"}, 1, 0
			end%>
			<label class="form-check-label" for="caseSensitive">Case sensitive</label>
		</div>
		<% if @question.Type=="FTB" %>
		<div class="form-check FTB" style="margin-top: 5px">
		<% else %>
		<div style="display: none;" class="form-check FTB" style="margin-top: 5px">
		<% end %>
			<%= if @question.Options
				check_box 'MultiSpaces', 'result', {class: "form-check-input",checked: @question.Options.include?('MUL1')}, 1, 0
			else
				check_box 'MultiSpaces', 'result', {class: "form-check-input"}, 1, 0
			end%>
			<label class="form-check-label" for="multiSpaces">Allow multiple spaces</label>
		</div>
	</div>
	
	<% if @question.Type=="MCQ" %>
	<div class="MCQ">
	<% else %>
	<div class="MCQ" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Answers"%>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != ""
					if @question.Answer[@positions2[0]+1] != "0" %>
						<input class="form-check-input" type="radio" name="MCQRadios" id="Radio1" value="A" checked style="top: 7px">
					<% else %>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio1" value="A" style="top: 7px">
					<% end 
				else %>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio1" value="A" checked style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != ""
					form.text_field :MCQRadio1, class: "form-control", name: "MCQRadio1", placeholder: "Answer 1", for: "MCQRadios", value: @question.Answer[@positions1[0]+1..@positions2[0]-1]
				else
					form.text_field :MCQRadio1, class: "form-control", name: "MCQRadio1", placeholder: "Answer 1", for: "MCQRadios"
				end%>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[1]+1] != "0"  && @question.Answer[@positions2[1]+1] != "〔"%>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio2" value="B" checked style="top: 7px">
				<% else %>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio2" value="B" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[1] != -1
					form.text_field :MCQRadio2, class: "form-control", name: "MCQRadio2", placeholder: "Answer 2", for: "MCQRadios", value: @question.Answer[@positions1[1]+1..@positions2[1]-1]
				else
					form.text_field :MCQRadio2, class: "form-control", name: "MCQRadio2", placeholder: "Answer 2", for: "MCQRadios"
				end%>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[2]+1] != "0"  && @question.Answer[@positions2[2]+1] != "〔"%>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio3" value="C" checked style="top: 7px">
				<% else %>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio3" value="C" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[2] != -1
					form.text_field :MCQRadio3, class: "form-control", name: "MCQRadio3", placeholder: "Answer 3", for: "MCQRadios", value: @question.Answer[@positions1[2]+1..@positions2[2]-1]
				else
					form.text_field :MCQRadio3, class: "form-control", name: "MCQRadio3", placeholder: "Answer 3", for: "MCQRadios"
				end%>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[3]+1] != "0"  && @question.Answer[@positions2[3]+1] != "〔"%>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio4" value="D" checked style="top: 7px">
				<% else %>
					<input class="form-check-input" type="radio" name="MCQRadios" id="Radio4" value="D" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[3] != -1
					form.text_field :MCQRadio4, class: "form-control", name: "MCQRadio4", placeholder: "Answer 4", for: "MCQRadios", value: @question.Answer[@positions1[3]+1..@positions2[3]-1]
				else
					form.text_field :MCQRadio4, class: "form-control", name: "MCQRadio4", placeholder: "Answer 4", for: "MCQRadios"
				end%>
			</div>
		</div>
	</div>
	
	
	<% if @question.Type=="MA" %>
	<div class="MA">
	<% else %>
	<div class="MA" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Answers"%>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[0]+1] != "0" %>
					<input class="form-check-input" type="checkbox" id="MACheckbox1" name="MACheckboxes[]" value="A" style="top: 7px" checked>
				<% else %>
					<input class="form-check-input" type="checkbox" id="MACheckbox1" name="MACheckboxes[]" value="A" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" 
					form.text_field :MACheckbox1, class: "form-control", name: "MACheckbox1", placeholder: "Answer 1", for: "checkbox1", value: @question.Answer[@positions1[0]+1..@positions2[0]-1]
				else
					form.text_field :MACheckbox1, class: "form-control", name: "MACheckbox1", placeholder: "Answer 1", for: "checkbox1"
				end%>
				<% if @question.Options
					if @question.Options.include?('PAR1') && @question.Answer[@positions2[0]+1] != "0" %>
						<div id="partialValue1">
					<% else %>
						<div id="partialValue1" style="display: none;">
					<% end 
				else %>
						<div id="partialValue1" style="display: none;">
				<%end%>
					<%= form.label "Partial credit %"%>
					<%= if @question.Answer && @question.Answer != "" 
						if @question.Answer[@positions2[0]+1..@positions1[1]-2] != "100"
							form.text_field :MACheckbox1Credit, class: "form-control", name: "MACheckbox1Credit", for: "checkboxes", type: "number", value:  @question.Answer[@positions2[0]+1..@positions1[1]-2], step:".01", min: "0", max: "100"
						else
							if @question.Answer.scan(/(?=#{"100"})/).count == 1
								form.text_field :MACheckbox1Credit, class: "form-control", name: "MACheckbox1Credit", for: "checkboxes", type: "number", value: 100, step:".01", min: "0", max: "100"
							else
								form.text_field :MACheckbox1Credit, class: "form-control", name: "MACheckbox1Credit", for: "checkboxes", type: "number", value: 100/@question.Answer.scan(/(?=#{"100"})/).count, step:".01", min: "0", max: "100"
							end
						end
					else
						form.text_field :MACheckbox1Credit, class: "form-control", name: "MACheckbox1Credit", for: "checkboxes", type: "number", value: "0", step:".01", min: "0", max: "100"
					end%>
				</div>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[1]+1] != "0"  && @question.Answer[@positions2[1]+1] != "〔"%>
					<input class="form-check-input" type="checkbox" id="MACheckbox2" name="MACheckboxes[]" value="B" style="top: 7px" checked>
				<% else %>
					<input class="form-check-input" type="checkbox" id="MACheckbox2" name="MACheckboxes[]" value="B" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[1] != -1
					form.text_field :MACheckbox2, class: "form-control", name: "MACheckbox2", placeholder: "Answer 2", for: "checkbox2", value: @question.Answer[@positions1[1]+1..@positions2[1]-1]
				else
					form.text_field :MACheckbox2, class: "form-control", name: "MACheckbox2", placeholder: "Answer 2", for: "checkbox2"
				end%>
				<% if @question.Options
					if @question.Options.include?('PAR1') && @question.Answer[@positions2[1]+1] != "0"  && @question.Answer[@positions2[1]+1] != "〔"%>
						<div id="partialValue2">
					<% else %>
						<div id="partialValue2" style="display: none;">
					<% end 
				else %>
						<div id="partialValue2" style="display: none;">
				<%end%>
					<%= form.label "Partial credit %"%>
					<%= if @question.Answer && @question.Answer != "" 
						if @question.Answer[@positions2[1]+1..@positions1[2]-2] != "100"
							form.text_field :MACheckbox2Credit, class: "form-control", name: "MACheckbox2Credit", for: "checkboxes", type: "number", value:  @question.Answer[@positions2[1]+1..@positions1[2]-2], step:".01", min: "0", max: "100"
						else
							if @question.Answer.scan(/(?=#{"100"})/).count == 1
								form.text_field :MACheckbox2Credit, class: "form-control", name: "MACheckbox2Credit", for: "checkboxes", type: "number", value: 100, step:".01", min: "0", max: "100"
							else
								form.text_field :MACheckbox2Credit, class: "form-control", name: "MACheckbox2Credit", for: "checkboxes", type: "number", value: 100/@question.Answer.scan(/(?=#{"100"})/).count, step:".01", min: "0", max: "100"
							end
						end
					else
						form.text_field :MACheckbox2Credit, class: "form-control", name: "MACheckbox2Credit", for: "checkboxes", type: "number", value: "0", step:".01", min: "0", max: "100"
					end%>
				</div>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[2]+1] != "0"  && @question.Answer[@positions2[2]+1] != "〔"%>
					<input class="form-check-input" type="checkbox" id="MACheckbox3" name="MACheckboxes[]" value="C" style="top: 7px" checked>
				<% else %>
					<input class="form-check-input" type="checkbox" id="MACheckbox3" name="MACheckboxes[]" value="C" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[2] != -1
					form.text_field :MACheckbox3, class: "form-control", name: "MACheckbox3", placeholder: "Answer 3", for: "checkbox3", value: @question.Answer[@positions1[2]+1..@positions2[2]-1]
				else
					form.text_field :MACheckbox3, class: "form-control", name: "MACheckbox3", placeholder: "Answer 3", for: "checkbox3"
				end%>
				<% if @question.Options
					if @question.Options.include?('PAR1') && @question.Answer[@positions2[2]+1] != "0"  && @question.Answer[@positions2[2]+1] != "〔"%>
						<div id="partialValue3">
					<% else %>
						<div id="partialValue3" style="display: none;">
					<% end 
				else %>
						<div id="partialValue3" style="display: none;">
				<%end%>
					<%= form.label "Partial credit %"%>
					<%= if @question.Answer && @question.Answer != "" 
						if @question.Answer[@positions2[2]+1..@positions1[3]-2] != "100"
							form.text_field :MACheckbox3Credit, class: "form-control", name: "MACheckbox3Credit", for: "checkboxes", type: "number", value:  @question.Answer[@positions2[2]+1..@positions1[3]-2], step:".01", min: "0", max: "100"
						else
							if @question.Answer.scan(/(?=#{"100"})/).count == 1
								form.text_field :MACheckbox3Credit, class: "form-control", name: "MACheckbox3Credit", for: "checkboxes", type: "number", value: 100, step:".01", min: "0", max: "100"
							else
								form.text_field :MACheckbox3Credit, class: "form-control", name: "MACheckbox3Credit", for: "checkboxes", type: "number", value: 100/@question.Answer.scan(/(?=#{"100"})/).count, step:".01", min: "0", max: "100"
							end
						end
					else
						form.text_field :MACheckbox3Credit, class: "form-control", name: "MACheckbox3Credit", for: "checkboxes", type: "number", value: "0", step:".01", min: "0", max: "100"
					end%>
				</div>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<% if @question.Answer && @question.Answer != "" && @question.Answer[@positions2[3]+1] != "0" && @question.Answer[@positions2[3]+1] != "〔"%>
					<input class="form-check-input" type="checkbox" id="MACheckbox4" name="MACheckboxes[]" value="D" style="top: 7px" checked>
				<% else %>
					<input class="form-check-input" type="checkbox" id="MACheckbox4" name="MACheckboxes[]" value="D" style="top: 7px">
				<% end %>
				<%= if @question.Answer && @question.Answer != "" && @positions1[3] != -1
					form.text_field :MACheckbox4, class: "form-control", name: "MACheckbox4", placeholder: "Answer 4", for: "checkbox4", value: @question.Answer[@positions1[3]+1..@positions2[3]-1]
				else
					form.text_field :MACheckbox4, class: "form-control", name: "MACheckbox4", placeholder: "Answer 4", for: "checkbox4"
				end%>
				<% if @question.Options
					if @question.Options.include?('PAR1') && @question.Answer[@positions2[3]+1] != "0" && @question.Answer[@positions2[3]+1] != "〔"%>
						<div id="partialValue4">
					<% else %>
						<div id="partialValue4" style="display: none;">
					<% end 
				else %>
						<div id="partialValue4" style="display: none;">
				<%end%>
					<%= form.label "Partial credit %"%>
					<%= if @question.Answer && @question.Answer != "" 
						if @question.Answer[@positions2[3]+1..@question.Answer.length-2] != "100"
							form.text_field :MACheckbox4Credit, class: "form-control", name: "MACheckbox4Credit", for: "checkboxes", type: "number", value:  @question.Answer[@positions2[3]+1..@question.Answer.length-2], step:".01", min: "0", max: "100"
						else
							if @question.Answer.scan(/(?=#{"100"})/).count == 1
								form.text_field :MACheckbox4Credit, class: "form-control", name: "MACheckbox4Credit", for: "checkboxes", type: "number", value: 100, step:".01", min: "0", max: "100"
							else
								form.text_field :MACheckbox4Credit, class: "form-control", name: "MACheckbox4Credit", for: "checkboxes", type: "number", value: 100/@question.Answer.scan(/(?=#{"100"})/).count, step:".01", min: "0", max: "100"
							end
						end
					else
						form.text_field :MACheckbox4Credit, class: "form-control", name: "MACheckbox4Credit", for: "checkboxes", type: "number", value: "0", step:".01", min: "0", max: "100"
					end%>
				</div>
			</div>
		</div>
	</div>
	
	<% if @question.Type=="FTB" %>
	<div class="FTB">
	<% else %>
	<div class="FTB" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Answer"%>
			<%= if @question.Answer && @question.Answer != ""
				form.text_field :FTBAnswer, class: "form-control", name: "FTBAnswer", placeholder: "Answer", value: @question.Answer[1..@question.Answer.index("〕")-1]
			else
				form.text_field :FTBAnswer, class: "form-control", name: "FTBAnswer", placeholder: "Answer"
			end%>
		</div>
	</div>
	
	
	<% if @question.Type=="TF" %>
	<div class="TF">
	<% else %>
	<div class="TF" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Answer"%>
			<div class="form-check" style="margin-top: 5px">
				<input class="form-check-input" type="radio" name="TFRadio" id="TFRadio1" value="True" 
				<% if @question.Answer && @question.Answer != "" 
					if @question.Answer.include?('True') %> 
						checked
					<% else
						if !@question.Answer.include?('False') %>
						checked
						<% end 
					end
				else %>
					checked
				<% end %> >
				<label class="form-check-label" for="negative">True</label>
			</div>
			<div class="form-check" style="margin-top: 5px">
				<input class="form-check-input" type="radio" name="TFRadio" id="TFRadio2" value="False" 
				<% if @question.Answer && @question.Answer != "" 
					if @question.Answer.include?('False') %> 
						checked
					<% end 
				end %> >
				<label class="form-check-label" for="negative">False</label>
			</div>
		</div>
	</div>
	
	<% if @question.Type=="FRM" %>
	<div class="FRM">
	<% else %>
	<div class="FRM" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Formula"%>
			<%= if @question.Answer && @question.Answer != ""
				form.text_field :FRMAnswer, class: "form-control", name: "FRMAnswer", placeholder: "Formula", value: @question.Answer[1..@question.Answer.index("〕")-1]
			else
				form.text_field :FRMAnswer, class: "form-control", name: "FRMAnswer", placeholder: "Formula"
			end%>
		</div>
		<div class="form-group" id="varsHtml">
		</div>
	</div>
	
	<% if @question.Type=="REG" %>
	<div class="REG">
	<% else %>
	<div class="REG" style="display: none;">
	<% end %>
		<div class="form-group">
			<%= form.label "Expression"%>
			<div class="input-group">
				<%= if @question.Answer && @question.Answer != ""
					form.text_field :REGAnswer, class: "form-control", name: "REGAnswer", placeholder: "Expression, ex: ^[Cc]orrect$", value: @question.Answer[1..@question.Answer.index("〕")-1]
				else
					form.text_field :REGAnswer, class: "form-control", name: "REGAnswer", placeholder: "Expression, ex: ^[Cc]orrect$"
				end%>
				<div class="input-group-append">
					<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#expressionModal">
						Check expression
					</button>
				</div>
			</div>
		</div>
		<div class="modal fade" id="expressionModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="ModalLabel">Expression checker</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Expression</label>
							<% if @question.Answer && @question.Answer != "" %>
								<input type="text" class="form-control" id="expression" placeholder="Expression, ex: ^[Cc]orrect$" value= <%= @question.Answer[1..@question.Answer.index("〕")-1] %> >
							<% else %>
								<input type="text" class="form-control" id="expression" placeholder="Expression, ex: ^[Cc]orrect$">
							<% end %>
						</div>
						<div class="form-group" id="TestCases">
							<label>Test cases</label>
							<input type="text" class="form-control" id="test_case1" placeholder="Correct">
						</div>
						<div class="form-group">
							<button type="button" id="btAdd" class="btn btn-primary w-25">Add</button>
							<button type="button" id="btRemove" class="btn btn-primary w-25">Remove</button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="btCheck" >Check</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
			<%= form.label :Points , "Points"%>
			<%= if @question.Points
			form.text_field :Points, class: "form-control", value: @question.Points, for: "options", type: "number"
			else
			form.text_field :Points, class: "form-control", value: 10, for: "options", type: "number"
			end%>
	</div>
	
	<div class="form-group">
			<%= form.label :Feedback , "Feedback to learner"%>
			<%= form.text_area :Feedback, class: "form-control tinymceF", placeholder: "For this question..."%>
	</div>

	<br>
	<div class="row justify-content-right">
		<%= form.submit class: "btn btn-primary" , style: "margin-left: 10px; margin-top: 10px;" %>
		<% end %>
		<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" , style: "margin-left: 10px; margin-top: 10px;" %>
	</div>
		
<script>
$(document).ready(function(){
    $('#question_Type').change(function() {
        $('.MCQ').toggle($(this).val()=="MCQ");
				$('.MA').toggle($(this).val()=="MA");
				$('.FTB').toggle($(this).val()=="FTB");
				$('.TF').toggle($(this).val()=="TF");
				$('.FRM').toggle($(this).val()=="FRM");
				$('.REG').toggle($(this).val()=="REG");
    });
		$('#Partial_result').change(function() {
      if (!($('#Partial_result').is(":checked")))
				{document.getElementById('partialValue1').style.display = "none";
				document.getElementById('partialValue2').style.display = "none";
				document.getElementById('partialValue3').style.display = "none";
				document.getElementById('partialValue4').style.display = "none";}
			else
				{if ($('#MACheckbox1').is(":checked"))
					document.getElementById('partialValue1').style.display = "block";
				if ($('#MACheckbox2').is(":checked"))
					document.getElementById('partialValue2').style.display = "block";
				if ($('#MACheckbox3').is(":checked"))
					document.getElementById('partialValue3').style.display = "block";
				if ($('#MACheckbox4').is(":checked"))
					document.getElementById('partialValue4').style.display = "block";}
    });
		$('#MACheckbox1').change(function() {
			if ($('#Partial_result').is(":checked") && $('#MACheckbox1').is(":checked"))
				document.getElementById('partialValue1').style.display = "block";
			else
				document.getElementById('partialValue1').style.display = "none";
			checks=[]
			for (i=1;i<5;i++)
				if ($('#MACheckbox'+i).is(":checked"))
					checks.push("question_MACheckbox"+i+"Credit");
			for (i=0;i<checks.length;i++)
				document.getElementById(checks[i]).value = (100/checks.length).toFixed(2);
			for (i=1;i<5;i++)
				if(!($('#MACheckbox'+i).is(":checked")))
					document.getElementById("question_MACheckbox"+i+"Credit").value = 0;
		});
		$('#MACheckbox2').change(function() {
			if ($('#Partial_result').is(":checked") && $('#MACheckbox2').is(":checked"))
				document.getElementById('partialValue2').style.display = "block";
			else
				document.getElementById('partialValue2').style.display = "none";
			checks=[]
			for (i=1;i<5;i++)
				if ($('#MACheckbox'+i).is(":checked"))
					checks.push("question_MACheckbox"+i+"Credit");
			for (i=0;i<checks.length;i++)
				document.getElementById(checks[i]).value = (100/checks.length).toFixed(2);
			for (i=1;i<5;i++)
				if(!($('#MACheckbox'+i).is(":checked")))
					document.getElementById("question_MACheckbox"+i+"Credit").value = 0;
		});
		$('#MACheckbox3').change(function() {
			if ($('#Partial_result').is(":checked") && $('#MACheckbox3').is(":checked"))
				document.getElementById('partialValue3').style.display = "block";
			else
				document.getElementById('partialValue3').style.display = "none";
			checks=[]
			for (i=1;i<5;i++)
				if ($('#MACheckbox'+i).is(":checked"))
					checks.push("question_MACheckbox"+i+"Credit");
			for (i=0;i<checks.length;i++)
				document.getElementById(checks[i]).value = (100/checks.length).toFixed(2);
			for (i=1;i<5;i++)
				if(!($('#MACheckbox'+i).is(":checked")))
					document.getElementById("question_MACheckbox"+i+"Credit").value = 0;
		});
		$('#MACheckbox4').change(function() {
			if ($('#Partial_result').is(":checked") && $('#MACheckbox4').is(":checked"))
				document.getElementById('partialValue4').style.display = "block";
			else
				document.getElementById('partialValue4').style.display = "none";
			checks=[]
			for (i=1;i<5;i++)
				if ($('#MACheckbox'+i).is(":checked"))
					checks.push("question_MACheckbox"+i+"Credit");
			for (i=0;i<checks.length;i++)
				document.getElementById(checks[i]).value = (100/checks.length).toFixed(2);
			for (i=1;i<5;i++)
				if(!($('#MACheckbox'+i).is(":checked")))
					document.getElementById("question_MACheckbox"+i+"Credit").value = 0;
		});
		$('#question_MACheckbox1Credit').change(function() {
			if (parseFloat(document.getElementById("question_MACheckbox1Credit").value)>100)
				document.getElementById("question_MACheckbox1Credit").value = 100;
			else if (parseFloat(document.getElementById("question_MACheckbox1Credit").value)<0)
				document.getElementById("question_MACheckbox1Credit").value = 0;
			sum = 0;
			for (i=1;i<5;i++)
				sum += parseFloat(document.getElementById("question_MACheckbox"+i+"Credit").value);
			if (!(sum == 100 || sum == 99.99))
				alert("The sum of all partial credits is not equal to 100%. Please adjust accordingly.")
		});
		$('#question_MACheckbox2Credit').change(function() {
			if (parseFloat(document.getElementById("question_MACheckbox2Credit").value)>100)
				document.getElementById("question_MACheckbox2Credit").value = 100;
			else if (parseFloat(document.getElementById("question_MACheckbox2Credit").value)<0)
				document.getElementById("question_MACheckbox2Credit").value = 0;
			sum = 0;
			for (i=1;i<5;i++)
				sum += parseFloat(document.getElementById("question_MACheckbox"+i+"Credit").value);
			if (sum != 100)
				alert("The sum of all partial credits is not equal to 100%. Please adjust accordingly.")
		});
		$('#question_MACheckbox3Credit').change(function() {
			if (parseFloat(document.getElementById("question_MACheckbox3Credit").value)>100)
				document.getElementById("question_MACheckbox3Credit").value = 100;
			else if (parseFloat(document.getElementById("question_MACheckbox3Credit").value)<0)
				document.getElementById("question_MACheckbox3Credit").value = 0;
			sum = 0;
			for (i=1;i<5;i++)
				sum += parseFloat(document.getElementById("question_MACheckbox"+i+"Credit").value);
			if (sum != 100)
				alert("The sum of all partial credits is not equal to 100%. Please adjust accordingly.")
		});
		$('#question_MACheckbox4Credit').change(function() {
			if (parseFloat(document.getElementById("question_MACheckbox4Credit").value)>100)
				document.getElementById("question_MACheckbox4Credit").value = 100;
			else if (parseFloat(document.getElementById("question_MACheckbox4Credit").value)<0)
				document.getElementById("question_MACheckbox4Credit").value = 0;
			sum = 0;
			for (i=1;i<5;i++)
				sum += parseFloat(document.getElementById("question_MACheckbox"+i+"Credit").value);
			if (sum != 100)
				alert("The sum of all partial credits is not equal to 100%. Please adjust accordingly.")
		});
});
</script>
<script>
$(document).ready(function(){
		$("#question_FRMAnswer").keyup(function(){
        // Getting the current value of textarea
        var currentText = $(this).val();
				let regexp = /([\[][a-zA-Z]+[\]])/g;
				var result = Array.from(currentText.matchAll(regexp));
				console.clear();
				for (var i = 0; i<result.length-1; i++)
					for (var j = i+1; j<result.length; j++)
						if (result[i][0].normalize() === result[j][0].normalize())
							result.splice(j, 1);
				var xs = document.getElementsByClassName("X");
				var ys = document.getElementsByClassName("Y");
				var zs = document.getElementsByClassName("Z");
				
				
				if (result.length>0)
					{var html = '<label for="question_Variables">Variables</label>';
					var values = <%= @values ? @values : [] %>;
					for (var i = 0; i<result.length; i++)
						{let currentVar = result[i][0].substring(1, result[i][0].length-1).toUpperCase();
						html = html+'<div class="form-group">';
						html = html+'<div class="form-inline" style="margin-left: 10px">';
						html = html+'<label for="question_'+currentVar+' range:">'+currentVar+' range:</label>';
						<% if @question.Answer && @question.Answer != ""  && @question.Answer["〘"]  && @values %>
							html = html+'<input class="form-control" for="minimum" value="'+ values[i][0] +'" type="number" style="margin-left: 10px; margin-right: 10px" name="'+currentVar+'Min" id="'+currentVar+'Min">';
							html = html+'to ';
							html = html+'<input class="form-control" for="maximum" value="'+ values[i][1] +'" type="number" style="margin-left: 10px" name="'+currentVar+'Max" id="'+currentVar+'Max">';
						<% else %>
							html = html+'<input class="form-control" for="minimum" value="0" type="number" style="margin-left: 10px; margin-right: 10px" name="'+currentVar+'Min" id="'+currentVar+'Min">';
							html = html+'to ';
							html = html+'<input class="form-control" for="maximum" value="10" type="number" style="margin-left: 10px" name="'+currentVar+'Max" id="'+currentVar+'Max">';
						<% end %>
						html = html+'</div>';
						html = html+'</div>';
						}
					html+= '<label for="question_Relations">Relations</label>';
					<% if @question.Answer && @question.Answer != ""  && @question.Answer["〚"]  %>
						html+= '<input class="form-control" for="Relations" placeholder="example: [Z]<[Y], [X]=2[Y], [x]+[y]=2, [x]+[y]=3[z]" value="<%= @question.Answer[@question.Answer.index("〚")+1..@question.Answer.index("〛")-1]%>" style="margin-left: 10px" type="text" name="FRMRelations" id="FRMRelations">';
					<% else %>
						html+= '<input class="form-control" for="Relations" placeholder="example: [Z]<[Y], [X]=2[Y], [x]+[y]=2, [x]+[y]=3[z]" style="margin-left: 10px" type="text" name="FRMRelations" id="FRMRelations">';
					<% end %>
					}
				else
					html = '';
				document.getElementById("varsHtml").innerHTML = html;
    });
		$("#question_REGAnswer").change(function(){
			document.getElementById("expression").value = $(this).val();
    });
		$("#expression").change(function(){
			document.getElementById("question_REGAnswer").value = $(this).val();
    });
});
</script>    
<script>
    $(document).ready(function() {
        var len = 1;
				$('#btRemove').attr('class', 'btn btn-primary w-25 disabled'); 
        $('#btRemove').attr('disabled', 'disabled');

        $('#btAdd').click(function() {
            $('#btRemove').attr('class', 'btn btn-primary w-25'); 
            $('#btRemove').removeAttr('disabled');
            len = len + 1;

            // ADD TEXTBOX.
            $("#TestCases").append('<input type="text" class="form-control" id="test_case' + len + '" placeholder="Correct' + (len-1) + '" style="margin-top: 5px;"/>');
								
            // AFTER REACHING THE SPECIFIED LIMIT, DISABLE THE "ADD" BUTTON.
            if(len==10) {
                $('#btAdd').attr('class', 'btn btn-primary w-25 disabled'); 
                $('#btAdd').attr('disabled', 'disabled');
            }
						
        });

        // REMOVE ONE ELEMENT PER CLICK.
        $('#btRemove').click(function() {
            $('#btAdd').attr('class', 'btn btn-primary w-25'); 
            $('#btAdd').removeAttr('disabled');
						
            if (len != 1) { $('#test_case' + len).remove(); len = len - 1; }
        
            if (len == 1) { 
								$('#btRemove').attr('class', 'btn btn-primary w-25 disabled'); 
								$('#btRemove').attr('disabled', 'disabled');
            }
        });
				// "check" BUTTON IS CLICKED.
				$('#btCheck').click(function() {
						values = '';
						let regex = new RegExp($('#expression').val());
						console.log(regex);
						for (i=1;i<=len;i++)
							if (regex.test($('#test_case' + i).val()))
								{if ( document.getElementById("test_case"+i).classList.contains('border-danger') )
									document.getElementById("test_case"+i).classList.remove('border-danger');
								document.getElementById("test_case"+i).classList.add('border-success');}
							else
								{if ( document.getElementById("test_case"+i).classList.contains('border-success') )
									document.getElementById("test_case"+i).classList.remove('border-success');
								document.getElementById("test_case"+i).classList.add('border-danger');}
							console.log($('#test_case' + i).val());
				});
    });

</script>
<script>
$(document).ready(function(){
	$("#question_Type").change(function(){
		if ($(this).val() === "FRM")
			$("#question_FRMAnswer").trigger($.Event('keyup'));
	});
});
$(window).load(function() {
		if ($("#question_Type").val() === "FRM")
			$("#question_FRMAnswer").trigger($.Event('keyup'));
});
</script>