<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1><%= @question.Title %></h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1"></div>
	<div class="col-10">
		<h3>Details</h3>
	</div>
	<div class="col-1"></div>
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Text:</strong>
			</div>
			<div class="col-9">
				<%= @question.Text.html_safe %>
			</div>
		</div>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Feedback:</strong>
			</div>
			<div class="col-9">
				<%= @question.Feedback.html_safe %>
			</div>
		</div>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Type:</strong>
			</div>
			<div class="col-9">
				<% types= { "MCQ" => "Multiple choice", "MA" => "Multiple answer", "FTB" => "Fill in the blank", "FRM" => "Formula with random variable(s)", "TF" => "True / False" , "REG" => "Regular expression" }%>
				<%= types[@question.Type] %>
			</div>
		</div>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Points:</strong>
			</div>
			<div class="col-9">
				<%= @question.Points %>
			</div>
		</div>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Options:</strong>
			</div>
			<div class="col-9">
				<%case @question.Type
				when "MCQ"
					if @question.Options.include?("NEG1")
						options = "Negative marking of "+ @question.Options[5..] +" points"
					else
						options = "No negative marking"
					end
				when "MA"
					if @question.Options.include?("NEG1")
						options = "Negative marking of "+ @question.Options[5..] +" points"
					else
						options = "No negative marking"
					end
					if @question.Options.include?("PAR1")
						options += ", partial credit"
					else
						options += ", no partial credit"
					end
				when "FTB"
					if @question.Options.include?("NEG1")
						options = "Negative marking of "+ @question.Options[5..] +" points"
					else
						options = "No negative marking"
					end
					if @question.Options.include?("CON1")
						options += ", allow answers that contain the correct answer"
					else
						options += ", do not allow answers that contain the correct answer"
					end
					if @question.Options.include?("CAS1")
						options += ", case sensitive"
					else
						options += ", not case sensitive"
					end
					if @question.Options.include?("MUL1")
						options += ", allow multiple spaces"
					else
						options += ", do not allow multiple spaces"
					end
				when "REG"
					if @question.Options.include?("NEG1")
						options = "Negative marking of "+ @question.Options[5..] +" points"
					else
						options = "No negative marking"
					end
				when "FRM"
					if @question.Options.include?("NEG1")
						options = "Negative marking of "+ @question.Options[5..] +" points"
					else
						options = "No negative marking"
					end
					if @question.Options.include?("RAN1")
						options += ", allow answer error of +/- " + @question.Options[@question.Options.index("RAN1")+5..]
					else
						options += ", do not allow answer error"
					end
				end %>
				<%= options %>
			</div>
		</div>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Answer:</strong>
			</div>
			<div class="col-9">
				<%case @question.Type
				when "MCQ"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= @question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end
					indx= -1
					while (indx= @question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end
					for position in positions2
						if @question.Answer[position+1]=="1"
							answer=@question.Answer[positions1[positions2.index(position)]+1..position-1]
						end
					end
				when "MA"
					positions1 = []
					positions2 = []
					positions3 = []
					indx= -1
					while (indx= @question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end
					indx= -1
					while (indx= @question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end
					indx= -1
					while (indx= @question.Answer.index("%", indx+ 1))
						positions3 << indx
					end
					answer = ""
					for position in positions2
						if @question.Answer[position+1]!="0"
							if  @question.Options.include?("PAR1")
								answer = answer + @question.Answer[positions1[positions2.index(position)]+1..position-1] + " " + @question.Answer[position+1..positions3[positions2.index(position)]] + ", "
							else
								answer = answer + @question.Answer[positions1[positions2.index(position)]+1..position-1] + ", "
							end
						end
					end
					answer = answer[..-3]
				when "FTB"
					answer=@question.Answer[1..-6]
				when "REG"
					answer=@question.Answer[1..-6]
				when "FRM"
					p @question.Answer
					answer = @question.Answer[@question.Answer.index("〔")+1..@question.Answer.index("〕")-1] + " with: "
					constraints = @question.Answer[@question.Answer.index("〘")..-1]
					res = answer.scan(/([\[][a-zA-Z]+[\]])/)
					for var in res
						answer += var[0][..var[0].length-1]
						answer += " having a value from " 
						answer += constraints[constraints.index(",")+1..constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")]
						answer += " to "
						answer +=constraints[constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")+2..constraints.index("〙")-1]
						answer += ", "
						constraints=constraints[constraints.index("〙")+1..-1]
					end
					constraints = constraints[1..-2] 
					if constraints
						answer = answer + "obeying the following constraints: " + constraints
					else
						answer = answer[..-3]
					end
				end %>
				<%= answer %>
			</div>
		</div>
		<h3>Preview</h3>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<div class="col-12">
				<h2><%= @question.Title%></h2>
				<%case @question.Type
				when "MCQ"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= @question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= @question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= @question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios" id="Radio1" value="A">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios" id="Radio2" value="B">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios" id="Radio3" value="C">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios" id="Radio4" value="D">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "MA"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= @question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= @question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= @question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox1" name="MACheckboxes[]" value="A">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox2" name="MACheckboxes[]" value="B">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox3" name="MACheckboxes[]" value="C">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox4" name="MACheckboxes[]" value="D">
							  <label class="form-check-label" for="negative"><%= @question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "FTB"
					if @question.Text.index('[blank]')
						textBegin = @question.Text[0..@question.Text.index('[blank]')-1]
						textEnd = @question.Text[@question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="FTBAnswer" placeholder="Answer" id="question_FTBAnswer" style="display: inline-block">
						<%=textEnd.html_safe%>
					<%else%>
						<%=@question.Text.html_safe%>
						<input class="form-control w-25" name="FTBAnswer" placeholder="Answer" id="question_FTBAnswer" style="display: inline-block">
					<%end%>
				<%when "TF"%>
					<%= @question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
							<input class="form-check-input" type="radio" name="TFRadio" id="TFRadio1" value="True">
							<label class="form-check-label" for="negative">True</label>
						</div>
						<div class="form-check" style="margin-top: 5px">
							<input class="form-check-input" type="radio" name="TFRadio" id="TFRadio2" value="False">
							<label class="form-check-label" for="negative">False</label>
						</div>
					</div>
				<%when "REG"
					if @question.Text.index('[blank]')
						textBegin = @question.Text[0..@question.Text.index('[blank]')-1]
						textEnd = @question.Text[@question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="REGAnswer" placeholder="Answer" id="question_REGAnswer" style="display: inline-block">
						<%=textEnd.html_safe%>
					<%else%>
						<%=@question.Text.html_safe%>
						<input class="form-control w-25" name="REGAnswer-" placeholder="Answer" id="question_REGAnswer-" style="display: inline-block">
					<%end%>
				<%when "FRM"
				formula = @question.Answer[@question.Answer.index("〔")+1..@question.Answer.index("〕")-1]
				constraints = @question.Answer[@question.Answer.index("〘")..-1]
				vars={}
				res = formula.scan(/([\[][a-zA-Z]+[\]])/)
				for var in res
					tag=var[0][1..var[0].length-2].upcase
					min=constraints[constraints.index(",")+1..constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")].to_i
					max=constraints[constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")+2..constraints.index("〙")-1].to_i
					vars[tag]=[min,max]
					constraints=constraints[constraints.index("〙")+1..-1]
				end
				constraints = constraints[1..-2]
				m = Cbc::Model.new
				rels=[]
				if constraints
					for rel in constraints.split(',')
						rel = rel.strip
						rel.gsub! '+', ' + '
						rel.gsub! '-', ' - '
						rel.gsub! '*', ' * '
						rel.gsub! '/', ' / '
						rel.gsub! '<=', ' <= '
						rel.gsub! '>=', ' >= '
						rel.gsub! '=', ' = '
						rel.gsub! '< =', '<='
						rel.gsub! '> =', '>='
						rels << rel
					end
				end
					varsILP={}
					maximize=0
					for var in vars
						varsILP[var[0]]=m.int_var(var[1][0]..var[1][1])
						sign=rand(1..2)
						if sign == 1
							maximize = maximize + rand(1..20) * varsILP[var[0]]
						elsif sign == 2
							maximize = maximize - rand(1..20) * varsILP[var[0]]
						end
					end
					m.maximize(maximize)
					for rel in rels
						eq=0
						blocks=rel.split()
						if blocks[0][0]=="["
							if blocks[2][0]=="["
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],blocks[2].to_i)
							end
						else
							if blocks[2][0]=="["
								eq= blocks[0].to_i.send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= blocks[0].to_i.send(blocks[1],blocks[2].to_i)
							end
						end
						for i in (3..blocks.length-2).step(2)
							if blocks[i+1][0]=="["
								eq = eq.send(blocks[i],varsILP[blocks[i+1][1].upcase])
							else
								eq = eq.send(blocks[i],blocks[i+1].to_i)
							end
						end
						m.enforce(eq)
					end
					p = m.to_problem
					p.solve
					values={}
					for var in vars
						values[var[0]]=p.value_of(varsILP[var[0]])
						@question.Text.gsub! '[' + var[0] + ']', values[var[0]].to_s
						@question.Text.gsub! '[' + var[0].downcase + ']', values[var[0]].to_s
					end
					p values
				%>
				<%=@question.Text.html_safe%>
				<small id="HelpBlock" class="form-text text-muted FRM" style="margin-bottom:5px;">
					The answer should be rounded to 2 decimals.
				</small>
				<input class="form-control w-25" name="FRMAnswer" placeholder="Answer" id="question_FRMAnswer" style="display: inline-block" type="number" step=".01">
				<%end%>
				
		</div>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<br>
		<div class="row">
			<%= link_to 'Back to assessment', '/assessments/'+@question.assessment_id.to_s , class: "btn btn-primary", style: "margin-left: 25px; margin-top: 10px;"%>
			<%= button_to 'Edit', edit_question_path(@question), class: "btn btn-primary", method: "get", style: "margin-left: 10px; margin-top: 10px;"%>
			<%= button_to 'Delete', question_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }, style: "margin-left: 10px; margin-top: 10px;"%>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-6">
		<div id="container" class=" " style="width: 100%; height: 400px; float: right; margin: 0 auto"></div>
	</div>
</div>