<%= form_with(model: assessment) do |form| %>
  <% if assessment.errors.any? %>
    <% flash.now[:danger] = assessment.errors.full_messages[0] %>
  <% end %>
	
	<%= form.hidden_field :user_id, :value => current_user.id %>
	
	<div class="form-group">
			<%= form.label :Name , "Assessment title"%>
			<%= form.text_field :Name, class: "form-control", placeholder: "Assessment 1"%>
  </div>

	<div class="form-group">
			<%= form.label :Description , "Assessment Description"%>
			<%= form.text_area :Description, class: "form-control tinymceT", placeholder: "This assessment is..."%>
	</div>
	
	<div class="form-group">
			<%= form.label :Duration , "Duration (min)"%>
			<%= if @assessment.Duration
			form.text_field :Duration, class: "form-control", value: @assessment.Duration, for: "options", type: "number"
			else
			form.text_field :Duration, class: "form-control", value: 60, for: "options", type: "number"
			end%>
	</div>

	<div>
		<label>Availability window</label>
		<div style="padding-left: 15px">
			<div class="form-group">
				<%= form.label :BeginAt , "Start date and time"%>
					<% if @assessment.BeginAt && @assessment.created_at
						if @assessment.BeginAt > DateTime.now()%>
						<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="assessment[BeginAt]" id="assessment_BeginAt" value="<%="%02d" % @assessment.BeginAt.day %>/<%="%02d" % @assessment.BeginAt.month %>/<%="%02d" % @assessment.BeginAt.localtime.year %> <%="%02d" % @assessment.BeginAt.localtime.hour %>:<%="%02d" % @assessment.BeginAt.min %>"/>
						<%else%>
						<div class="input-group date" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" name="assessment[BeginAt]" id="assessment_BeginAt" value="<%="%02d" % @assessment.BeginAt.day %>/<%="%02d" % @assessment.BeginAt.month %>/<%="%02d" % @assessment.BeginAt.year %> <%="%02d" % @assessment.BeginAt.localtime.hour %>:<%="%02d" % @assessment.BeginAt.min %>" readonly/>
						<%end%>
					<% else %>
					<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="assessment[BeginAt]" id="assessment_BeginAt"/>
					<% end %>
					<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar"></i></div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<%= form.label :EndAt , "End date and time"%>
					<% if @assessment.EndAt
						if @assessment.EndAt > DateTime.now()%>
						<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="assessment[EndAt]" id="assessment_EndAt" value="<%="%02d" % @assessment.EndAt.day %>/<%="%02d" % @assessment.EndAt.month %>/<%="%02d" % @assessment.EndAt.year %> <%="%02d" % @assessment.EndAt.localtime.hour %>:<%="%02d" % @assessment.EndAt.min %>"/>
						<%else%>
						<div class="input-group date" data-target-input="nearest">
							<input type="text" class="form-control datetimepicker-input" name="assessment[EndAt]" id="assessment_EndAt" value="<%="%02d" % @assessment.EndAt.day %>/<%="%02d" % @assessment.EndAt.month %>/<%="%02d" % @assessment.EndAt.year %> <%="%02d" % @assessment.EndAt.localtime.hour %>:<%="%02d" % @assessment.EndAt.min %>" readonly/>			
						<%end%>
					<% else %>
					<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
						<input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="assessment[EndAt]" id="assessment_EndAt"/>
					<% end %>
					<div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="field">
		<%= form.hidden_field :offset, name: "offset", for: "offset"%>
	</div>
	
	<br>
	<div class="row justify-content-right">
		<%= form.submit class: "btn btn-primary" , style: "margin-left: 10px; margin-top: 10px;"%>
		<% end %>
		<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" , style: "margin-left: 10px; margin-top: 10px;" %>
	</div>
	<script type="text/javascript">
		document.getElementById('assessment_offset').value = (new Date().getTimezoneOffset())/60;
	</script>
	<script type="text/javascript">
    $(function () {
			Ndate = new Date()
			Ndate2 = new Date ( Ndate );
			Ndate2.setMinutes ( Ndate.getMinutes() + 1 );
			 $('#datetimepicker1').datetimepicker({
					minDate: Ndate,
					locale: 'en-gb',
					sideBySide: true,
					useCurrent: false
                });
       $('#datetimepicker2').datetimepicker({
          minDate: Ndate2,
					locale: 'en-gb',
					sideBySide: true,
					useCurrent: false
                });
       $("#datetimepicker1").on("change.datetimepicker", function (e) {
					$('#datetimepicker2').datetimepicker('minDate', e.date);
					if($('#datetimepicker1').datetimepicker('date').isSameOrAfter($('#datetimepicker2').datetimepicker('date')))
						$('#datetimepicker2').datetimepicker('date', e.date.add(1, 'minutes'));
			});
       $("#datetimepicker2").on("change.datetimepicker", function (e) {
					if($('#datetimepicker1').datetimepicker('date').isSameOrAfter($('#datetimepicker2').datetimepicker('date')))
						$('#datetimepicker2').datetimepicker('date', $('#datetimepicker1').date.add(1, 'minutes'));
			});
    });
  </script>