<p id="notice"><%= notice %>	</div>
		</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<div class="col-12">
			<h1>Assessments</h1>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Available from</th>
					<th scope="col">Available until</th>
					<th scope="col">Duration</th>
					<th scope="col" style="width: 85px"></th>
				</tr>
			</thead>
			<tbody>
			<%@assessments.each do |assessment| %>
				<tr>
					<td><%= assessment.Name %></td>
					<td><%= assessment.BeginAt.day %>/<%=assessment.BeginAt.month %>/<%=assessment.BeginAt.year %> <%=assessment.BeginAt.hour %>:<%=assessment.BeginAt.min %></td>
					<td><%= assessment.EndAt.day %>/<%=assessment.EndAt.month %>/<%=assessment.EndAt.year %> <%=assessment.EndAt.hour %>:<%=assessment.EndAt.min %></td>
					<td><%= assessment.Duration %> minutes</td>
					<td style="text-align: right">
						<%= link_to edit_assessment_path(assessment) do %>
							<i class="fas fa-pencil-alt"></i>
						<% end %>
						<%= link_to assessment do %>
							<i class="far fa-eye"></i>
						<% end %>
						<%= link_to assessment, method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fas fa-trash"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		
		<%= button_to 'Add assessment', new_assessment_path, class: "btn btn-primary", method: "get", style: "margin-left: 10px; margin-top: 10px;"%>
	</div>
	<div class="col-1"></div>
</div>