<p id="notice"><%= notice %>	</div>
		</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1><%= @assessment.Name %></h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Details</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Description:</strong>
			</div>
			<div class="col-9">
				<%= @assessment.Description.html_safe %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Duration:</strong>
			</div>
			<div class="col-9">
				<%= @assessment.Duration %> minutes
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Available from:</strong>
			</div>
			<div class="col-9"  id="date1">
				<%= "%02d" % @assessment.BeginAt.day %>/<%= "%02d" % @assessment.BeginAt.month %>/<%= "%02d" % @assessment.BeginAt.year %> <%= "%02d" % @assessment.BeginAt.hour %>:<%= "%02d" % @assessment.BeginAt.min %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Available until:</strong>
			</div>
			<div class="col-9"  id="date2">
				<%= "%02d" % @assessment.EndAt.day %>/<%= "%02d" % @assessment.EndAt.month %>/<%= "%02d" % @assessment.EndAt.year %> <%= "%02d" % @assessment.EndAt.hour %>:<%= "%02d" % @assessment.EndAt.min %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Submission link:</strong>
			</div>
			<div class="col-9">
				<a href="<%= @path %>"><%= @path %></a>
			</div>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Questions</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Type</th>
					<th scope="col">Points</th>
					<th scope="col" style="width: 85px"></th>
				</tr>
			</thead>
			<tbody>
			<%totalPoints=0
			@questions.each do |question| 
				totalPoints+=question.Points.to_i%>
				<tr>
					<td><%= question.Title%></td>
					<td><% types= { "MCQ" => "Multiple choice", "MA" => "Multiple answer", "FTB" => "Fill in the blank", "FRM" => "Formula with random variable(s)", "TF" => "True / False" , "REG" => "Regular expression" }%>
							<%= types[question.Type] %></td>
					<td><%= question.Points%></td>
					<td style="text-align: right">
						<%= link_to edit_question_path(question, :assessment_id => @assessment.id) do %>
							<i class="fas fa-pencil-alt"></i>
						<% end %>
						<%= link_to question do %>
							<i class="far fa-eye"></i>
						<% end %>
						<%= link_to question, method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fas fa-trash"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= button_to 'Add Question', new_question_path, params: {:assessment_id => @assessment.id}, class: "btn btn-primary", method: "get", style: "margin-left: 10px; margin-top: 10px;"%>
	</div>
	<div class="col-1"></div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Submissions</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Student ID</th>
					<th scope="col">Email address</th>
					<th scope="col">Score</th>
					<th scope="col">Submission time</th>
					<th scope="col">Duration</th>
					<th scope="col" style="width: 85px"></th>
				</tr>
			</thead>
			<tbody>
			<%@submissions.each do |submission| 
				marks=0
				if submission.Scores != 'Not submitted'
					for score in eval(submission.Scores)
						marks+=score.to_i
					end
				end
				%>
				<tr>
					<td><%= submission.userId%></td>
					<td><%= submission.userEmail%></td>
					<%if  submission.Scores == 'Not submitted' %>
						<td>Not submitted</td>
					<% else %>
						<td><%= marks %>/<%=totalPoints%></td>
					<% end %>
					<%if  submission.SubmittedAt == 'Not submitted' %>
						<td>Not submitted</td>
					<% else %>
						<td id="dateS<%= submission.id%>"></td>
					<% end %>
					<td><%= submission.Duration/60%> min <%= submission.Duration%60%> s</td>
					<td style="text-align: right">
						<%= link_to submission do %>
							<i class="far fa-eye"></i>
						<% end %>
						<%= link_to submission, method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fas fa-trash"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-1"></div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1"></div>
	<div class="col-10">
		<br>
		<div class="row">
			<%= button_to 'Edit Assessment details', edit_assessment_path(@assessment), class: "btn btn-primary", method: "get", style: "margin-left: 25px; margin-top: 10px;"%>
			<%= button_to 'Delete Assessment', assessment_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }, style: "margin-left: 10px; margin-top: 10px;"%>
		</div>
	</div>
	<div class="col-1"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
     date1 = new Date("<%= @assessment.BeginAt %>")
		 document.getElementById("date1").innerHTML = ("0"+date1.getDate()).slice(-2)+"/"+("0"+(date1.getMonth()+1)).slice(-2)+"/"+date1.getFullYear()+" "+("0"+date1.getHours()).slice(-2)+":"+("0"+date1.getMinutes()).slice(-2);
     date2 = new Date("<%= @assessment.EndAt %>")
		 document.getElementById("date2").innerHTML = ("0"+date2.getDate()).slice(-2)+"/"+("0"+(date2.getMonth()+1)).slice(-2)+"/"+date2.getFullYear()+" "+("0"+date2.getHours()).slice(-2)+":"+("0"+date2.getMinutes()).slice(-2);
		<%@submissions.each do |submission| %>
		dateS<%= submission.id%> = new Date("<%= submission.SubmittedAt %>")
		 document.getElementById("dateS<%= submission.id%>").innerHTML = ("0"+dateS<%= submission.id%>.getDate()).slice(-2)+"/"+("0"+(dateS<%= submission.id%>.getMonth()+1)).slice(-2)+"/"+dateS<%= submission.id%>.getFullYear()+" "+("0"+dateS<%= submission.id%>.getHours()).slice(-2)+":"+("0"+dateS<%= submission.id%>.getMinutes()).slice(-2);
		<% end %>
	});
</script>
