<p id="notice"><%= notice %>	</div>
		</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1><%= @assessment.Name %></h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Details</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Description:</strong>
			</div>
			<div class="col-9">
				<%= @assessment.Description.html_safe %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Duration:</strong>
			</div>
			<div class="col-9">
				<%= @assessment.Duration %> minutes
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Available from:</strong>
			</div>
			<div class="col-9">
				<%= "%02d" % @assessment.BeginAt.day %>/<%= "%02d" % @assessment.BeginAt.month %>/<%= "%02d" % @assessment.BeginAt.year %> <%= "%02d" % @assessment.BeginAt.hour %>:<%= "%02d" % @assessment.BeginAt.min %> GMT
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Available until:</strong>
			</div>
			<div class="col-9">
				<%= "%02d" % @assessment.EndAt.day %>/<%= "%02d" % @assessment.EndAt.month %>/<%= "%02d" % @assessment.EndAt.year %> <%= "%02d" % @assessment.EndAt.hour %>:<%= "%02d" % @assessment.EndAt.min %> GMT
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Submission link:</strong>
			</div>
			<div class="col-9">
				<a href="<%= @path %>"><%= @path %></a>
			</div>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Questions</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Type</th>
					<th scope="col">Points</th>
					<th scope="col" style="width: 85px"></th>
				</tr>
			</thead>
			<tbody>
			<%@questions.each do |question| %>
				<tr>
					<td><%= question.Title%></td>
					<td><%= question.Type%></td>
					<td><%= question.Points%></td>
					<td style="text-align: right">
						<%= link_to edit_question_path(question, :assessment_id => @assessment.id) do %>
							<i class="fas fa-pencil-alt"></i>
						<% end %>
						<%= link_to question do %>
							<i class="far fa-eye"></i>
						<% end %>
						<%= link_to question, method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fas fa-trash"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= button_to 'Add question', new_question_path, params: {:assessment_id => @assessment.id}, class: "btn btn-primary", method: "get", style: "margin-left: 10px; margin-top: 10px;"%>
	</div>
	<div class="col-1"></div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Submissions</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Student ID</th>
					<th scope="col">Email address</th>
					<th scope="col">Score</th>
					<th scope="col">Submission time</th>
					<th scope="col">Duration</th>
					<th scope="col" style="width: 85px"></th>
				</tr>
			</thead>
			<tbody>
			<%@submissions.each do |submission| %>
				<tr>
					<td><%= submission.userId%></td>
					<td><%= submission.userEmail%></td>
					<td><%= submission.Score%></td>
					<%if  submission.SubmittedAt == 'Not submitted' %>
						<td>Not submitted</td>
					<% else %>
						<td><%= "%02d" %  submission.SubmittedAt.day%>/<%= "%02d" %  submission.SubmittedAt.month%>/<%= "%02d" %  submission.SubmittedAt.year%> <%= "%02d" %  submission.SubmittedAt.hour%>:<%= "%02d" % submission.SubmittedAt.min%></td>
					<% end %>
					<td><%= submission.Duration%></td>
					<td style="text-align: right">
						<%= link_to submission do %>
							<i class="far fa-eye"></i>
						<% end %>
						<%= link_to submission, method: :delete, data: { confirm: 'Are you sure?' }  do %>
							<i class="fas fa-trash"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= button_to 'Add submission', new_submission_path, params: {:assessment_id => @assessment.id}, class: "btn btn-primary", method: "get", style: "margin-left: 10px; margin-top: 10px;"%>
	</div>
	<div class="col-1"></div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1"></div>
	<div class="col-10">
		<br>
		<div class="row">
			<%= button_to 'Edit Assessment details', edit_assessment_path(@assessment), class: "btn btn-primary", method: "get", style: "margin-left: 25px; margin-top: 10px;"%>
			<%= button_to 'Delete Assessment', assessment_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }, style: "margin-left: 10px; margin-top: 10px;"%>
		</div>
	</div>
	<div class="col-1"></div>
</div>
