<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-12" style="padding: 20%; padding-top: 20px; padding-bottom: 20px;">
		<div class="col-12">
			<h1>Attempt
			<%if @assessment && @creator%>
				for <%=@assessment.Name%>
			</h1>
			<%end%>
			<h3 id="timer">Time left:</h3>
		</div>
		<%= form_with(model: @submission) do |form| %>
		<% if @submission.errors.any? %>
			<% flash.now[:danger] = @submission.errors.full_messages[0] %>
		<% end %>
		
		
		<%@questions.each do |question| %>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<div class="col-12">
				<h2><%= question.Title%></h2>
				<%case question.Type
				when "MCQ"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio2-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio3-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio4-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "MA"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox1-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox2-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox3-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<input class="form-check-input" type="checkbox" id="MACheckbox4-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>">
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "FTB"
					if question.Text.index('[blank]')
						textBegin = question.Text[0..question.Text.index('[blank]')-1]
						textEnd = question.Text[question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="FTBAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FTBAnswer-<%=@questions.index(question)%>" style="display: inline-block">
						<%=textEnd.html_safe%>
					<%else%>
						<%=question.Text.html_safe%>
						<input class="form-control w-25" name="FTBAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FTBAnswer-<%=@questions.index(question)%>" style="display: inline-block">
					<%end%>
				<%when "TF"%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
							<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio1-<%=@questions.index(question)%>" value="True">
							<label class="form-check-label" for="negative">True</label>
						</div>
						<div class="form-check" style="margin-top: 5px">
							<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio2-<%=@questions.index(question)%>" value="False">
							<label class="form-check-label" for="negative">False</label>
						</div>
					</div>
				<%when "REG"
					if question.Text.index('[blank]')
						textBegin = question.Text[0..question.Text.index('[blank]')-1]
						textEnd = question.Text[question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="REGAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_REGAnswer-<%=@questions.index(question)%>" style="display: inline-block">
						<%=textEnd.html_safe%>
					<%else%>
						<%=question.Text.html_safe%>
						<input class="form-control w-25" name="REGAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_REGAnswer-<%=@questions.index(question)%>" style="display: inline-block">
					<%end%>
				<%when "FRM"
				formula = question.Answer[question.Answer.index("〔")+1..question.Answer.index("〕")-1]
				constraints = question.Answer[question.Answer.index("〘")..-1]
				vars={}
				res = formula.scan(/([\[][a-zA-Z]+[\]])/)
				for var in res
					tag=var[0][1..var[0].length-2].upcase
					min=constraints[constraints.index(",")+1..constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")].to_i
					max=constraints[constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")+2..constraints.index("〙")-1].to_i
					vars[tag]=[min,max]
					constraints=constraints[constraints.index("〙")+1..-1]
				end
				constraints = constraints[1..-2]
				m = Cbc::Model.new
				rels=[]
				if constraints
					for rel in constraints.split(',')
						rel = rel.strip
						rel.gsub! '+', ' + '
						rel.gsub! '-', ' - '
						rel.gsub! '*', ' * '
						rel.gsub! '/', ' / '
						rel.gsub! '<=', ' <= '
						rel.gsub! '>=', ' >= '
						rel.gsub! '=', ' = '
						rel.gsub! '< =', '<='
						rel.gsub! '> =', '>='
						rels << rel
					end
				end
					varsILP={}
					ilpFunction=0
					sum=@submission.userId.sum
					for var in vars
						varsILP[var[0]]=m.int_var(var[1][0]..var[1][1])
						if (var[0].sum+sum) % 3 == 1
							if (var[0].sum+sum) % 2 == 1
								ilpFunction = ilpFunction + @submission.userId.ord*sum/var[0].sum * varsILP[var[0]]
							else
								ilpFunction = ilpFunction - @submission.userId.ord/var[0].sum * varsILP[var[0]]
							end
						else
							if (var[0].sum+sum) % 2 == 1
								ilpFunction = ilpFunction - @submission.userId.ord*sum/var[0].sum * varsILP[var[0]]
							else
								ilpFunction = ilpFunction + @submission.userId.ord/var[0].sum * varsILP[var[0]]
							end
						end
					end
					if sum % 3 == 0 
						m.maximize(ilpFunction)
					else
						m.minimize(ilpFunction)
					end
					for rel in rels
						eq=0
						blocks=rel.split()
						if blocks[0][0]=="["
							if blocks[2][0]=="["
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],blocks[2].to_i)
							end
						else
							if blocks[2][0]=="["
								eq= blocks[0].to_i.send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= blocks[0].to_i.send(blocks[1],blocks[2].to_i)
							end
						end
						for i in (3..blocks.length-2).step(2)
							if blocks[i+1][0]=="["
								eq = eq.send(blocks[i],varsILP[blocks[i+1][1].upcase])
							else
								eq = eq.send(blocks[i],blocks[i+1].to_i)
							end
						end
						m.enforce(eq)
					end
					p = m.to_problem
					p.solve
					values={}
					for var in vars
						values[var[0]]=p.value_of(varsILP[var[0]])
						question.Text.gsub! '[' + var[0] + ']', values[var[0]].to_s
						question.Text.gsub! '[' + var[0].downcase + ']', values[var[0]].to_s
					end
					p values
				%>
				<%=question.Text.html_safe%>
				<small id="HelpBlock" class="form-text text-muted FRM" style="margin-bottom:5px;">
					The answer should be rounded to 2 decimals.
				</small>
				<input class="form-control w-25" name="FRMAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FRMAnswer-<%=@questions.index(question)%>" style="display: inline-block" type="number" step=".01">
				<input type="hidden" id="question_FRMvalues-<%=@questions.index(question)%>" name="FRMvalues-<%=@questions.index(question)%>" value="<%=values%>">
				<%end%>
				
		</div>
		<% end %>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<br>
		<div class="row justify-content-right">
			<%= form.submit 'Submit', class: "btn btn-primary" , style: "margin-left: 10px; margin-top: 10px;" %>
			<% end %>
			<%= button_to 'Cancel', root_path, class: "btn btn-primary", method: "get" , style: "margin-left: 10px; margin-top: 10px;" %>
		</div>
	</div>
</div>
<script> //adapred from https://www.w3schools.com/howto/howto_js_countdown.asp
var EndTime = new Date("<%=@submission.SubmittedAt%>");
EndTime.setMinutes(EndTime.getMinutes() + parseInt("<%=@assessment.Duration%>"));
var countDown = EndTime.getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDown - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="timer"
  var time = "";
	if (days!=0)
		time = time + days + "d ";
  if (hours!=0)
		time = time + hours + "h ";
  if (minutes!=0)
		time = time + minutes + "m ";
  if (seconds!=0)
		time = time + seconds + "s ";
	document.getElementById("timer").innerHTML = "Time left: <b>" + time + "</b>";
	
  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>