<p id="notice"><%= notice %>	</div>
		</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1><h1>Submission for <%= @assessment.Name %></h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Details</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong> Student Id:</strong>
			</div>
			<div class="col-9">
				<%= @submission.userId %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Student Email:</strong>
			</div>
			<div class="col-9">
				<%= @submission.userEmail %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Started at:</strong>
			</div>
			<div class="col-9">
				<%if @submission.SubmittedAt == "Not submitted" %>
					Not submitted
				<% else %>
					<%= "%02d" % @submission.SubmittedAt.day%>/<%= "%02d" % @submission.SubmittedAt.month%>/<%= "%02d" % @submission.SubmittedAt.year%> <%= "%02d" % @submission.SubmittedAt.hour%>:<%= "%02d" %@submission.SubmittedAt.min%> GMT
				<% end %>
			</div>
		</div>
		
		
		<%totalPoints=0
			marks=0
			if  @submission.Scores != "Not submitted" 
				@questions.each do |question| 
					totalPoints+=question.Points.to_i
				end
				for score in eval(@submission.Scores)
					marks+=score.to_i
				end
			end%>
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Score:</strong>
			</div>
			<div class="col-9">
				<%if  @submission.Scores == "Not submitted" %>
					Not submitted
				<% else %>
					<%= marks %>/<%=totalPoints%>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3" style="text-align: right;">
				<strong>Duration:</strong>
			</div>
			<div class="col-9">
				<%=@submission.Duration/60%> min <%=@submission.Duration%60%> s
			</div>
		</div>
	</div>
	<div class="col-1">
	</div>
</div>

<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h3>Answers</h3>
	</div>
	<div class="col-1">
	</div>
	<div class="col-1"></div>
	<div class="col-10">
		<% @questions.each do |question| 
			answers = eval(@submission.Answers)%>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<div class="col-12">
				<h2><%= question.Title%></h2>
				<%case question.Type
				when "MCQ"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)] == question.Answer[positions1[0]+1..positions2[0]-1]%>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)] == question.Answer[positions1[1]+1..positions2[1]-1]%>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)] == question.Answer[positions1[2]+1..positions2[2]-1]%>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)] == question.Answer[positions1[3]+1..positions2[3]-1]%>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="radio" name="MCQRadios-<%=@questions.index(question)%>" id="Radio1-<%=@questions.index(question)%>" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "MA"
					positions1 = []
					positions2 = []
					indx= -1
					while (indx= question.Answer.index("〔", indx+ 1))
						positions1 << indx
					end

					indx= -1
					while (indx= question.Answer.index("〕", indx+ 1))
						positions2 << indx
					end%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)].include?(question.Answer[positions1[0]+1..positions2[0]-1])%>
									<input class="form-check-input" type="checkbox" id="MACheckbox1-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="checkbox" id="MACheckbox1-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[0]+1..positions2[0]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[0]+1..positions2[0]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)].include?(question.Answer[positions1[1]+1..positions2[1]-1])%>
									<input class="form-check-input" type="checkbox" id="MACheckbox2-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="checkbox" id="MACheckbox2-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[1]+1..positions2[1]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[1]+1..positions2[1]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)].include?(question.Answer[positions1[2]+1..positions2[2]-1])%>
									<input class="form-check-input" type="checkbox" id="MACheckbox3-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="checkbox" id="MACheckbox3-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[2]+1..positions2[2]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[2]+1..positions2[2]-1] %></label>
						</div>
						<div class="form-check" style="margin-top: 5px">
								<% if answers[@questions.index(question)].include?(question.Answer[positions1[3]+1..positions2[3]-1])%>
									<input class="form-check-input" type="checkbox" id="MACheckbox4-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>" checked>
								<% else %>
									<input class="form-check-input" type="checkbox" id="MACheckbox4-<%=@questions.index(question)%>" name="MACheckboxes-<%=@questions.index(question)%>[]" value="<%= question.Answer[positions1[3]+1..positions2[3]-1] %>" disabled>
								<% end %>	
							  <label class="form-check-label" for="negative"><%= question.Answer[positions1[3]+1..positions2[3]-1] %></label>
						</div>
					</div>
				<%when "FTB"
					if question.Text.index('[blank]')
						textBegin = question.Text[0..question.Text.index('[blank]')-1]
						textEnd = question.Text[question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="FTBAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FTBAnswer-<%=@questions.index(question)%>" style="display: inline-block" value="<%= answers[@questions.index(question)] %>" disabled>
						<%=textEnd.html_safe%>
					<%else%>
						<%=question.Text.html_safe%>
						<input class="form-control w-25" name="FTBAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FTBAnswer-<%=@questions.index(question)%>" style="display: inline-block" value="<%= answers[@questions.index(question)] %>" disabled>
					<%end%>
				<%when "TF"%>
					<%= question.Text.html_safe%>
					<div class="form-group">
						<div class="form-check" style="margin-top: 5px">
							<% if answers[@questions.index(question)] == "True"%>
								<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio1-<%=@questions.index(question)%>" value="True" checked>
							<% else %>
								<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio1-<%=@questions.index(question)%>" value="True" disabled>
							<% end %>
							<label class="form-check-label" for="negative">True</label>
						</div>
						<div class="form-check" style="margin-top: 5px">
							<% if answers[@questions.index(question)] == "False"%>
								<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio2-<%=@questions.index(question)%>" value="False" checked>
							<% else %>
								<input class="form-check-input" type="radio" name="TFRadio-<%=@questions.index(question)%>" id="TFRadio2-<%=@questions.index(question)%>" value="False" disabled>
							<% end %>
							<label class="form-check-label" for="negative">False</label>
						</div>
					</div>
				<%when "REG"
					if question.Text.index('[blank]')
						textBegin = question.Text[0..question.Text.index('[blank]')-1]
						textEnd = question.Text[question.Text.index('[blank]')+7..-1]
						%>
						<%=textBegin.html_safe%>
						<input class="form-control w-25" name="REGAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_REGAnswer-<%=@questions.index(question)%>" style="display: inline-block" value="<%= answers[@questions.index(question)] %>" disabled>
						<%=textEnd.html_safe%>
					<%else%>
						<%=question.Text.html_safe%>
						<input class="form-control w-25" name="REGAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_REGAnswer-<%=@questions.index(question)%>" style="display: inline-block" value="<%= answers[@questions.index(question)] %>" disabled>
					<%end%>
				<%when "FRM"
				formula = question.Answer[question.Answer.index("〔")+1..question.Answer.index("〕")-1]
				constraints = question.Answer[question.Answer.index("〘")..-1]
				vars={}
				res = formula.scan(/([\[][a-zA-Z]+[\]])/)
				for var in res
					tag=var[0][1..var[0].length-2].upcase
					min=constraints[constraints.index(",")+1..constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")].to_i
					max=constraints[constraints[constraints.index(",")+1..-1].index(",")+constraints.index(",")+2..constraints.index("〙")-1].to_i
					vars[tag]=[min,max]
					constraints=constraints[constraints.index("〙")+1..-1]
				end
				constraints = constraints[1..-2]
				m = Cbc::Model.new
				rels=[]
				for rel in constraints.split(',')
					rel = rel.strip
					rel.gsub! '+', ' + '
					rel.gsub! '-', ' - '
					rel.gsub! '*', ' * '
					rel.gsub! '/', ' / '
					rel.gsub! '<=', ' <= '
					rel.gsub! '>=', ' >= '
					rel.gsub! '=', ' = '
					rel.gsub! '< =', '<='
					rel.gsub! '> =', '>='
					rels << rel
				end
					varsILP={}
					ilpFunction=0
					sum=@submission.userId.sum
					for var in vars
						varsILP[var[0]]=m.int_var(var[1][0]..var[1][1])
						if (var[0].sum+sum) % 3 == 1
							if (var[0].sum+sum) % 2 == 1
								ilpFunction = ilpFunction + @submission.userId.ord*sum/var[0].sum * varsILP[var[0]]
							else
								ilpFunction = ilpFunction - @submission.userId.ord/var[0].sum * varsILP[var[0]]
							end
						else
							if (var[0].sum+sum) % 2 == 1
								ilpFunction = ilpFunction - @submission.userId.ord*sum/var[0].sum * varsILP[var[0]]
							else
								ilpFunction = ilpFunction + @submission.userId.ord/var[0].sum * varsILP[var[0]]
							end
						end
					end
					if sum % 3 == 0 
						m.maximize(ilpFunction)
					else
						m.minimize(ilpFunction)
					end
					for rel in rels
						eq=0
						blocks=rel.split()
						if blocks[0][0]=="["
							if blocks[2][0]=="["
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= varsILP[blocks[0][1].upcase].send(blocks[1],blocks[2].to_i)
							end
						else
							if blocks[2][0]=="["
								eq= blocks[0].to_i.send(blocks[1],varsILP[blocks[2][1].upcase])
							else
								eq= blocks[0].to_i.send(blocks[1],blocks[2].to_i)
							end
						end
						for i in (3..blocks.length-2).step(2)
							if blocks[i+1][0]=="["
								eq = eq.send(blocks[i],varsILP[blocks[i+1][1].upcase])
							else
								eq = eq.send(blocks[i],blocks[i+1].to_i)
							end
						end
						m.enforce(eq)
					end
					p = m.to_problem
					p.solve
					values={}
					for var in vars
						values[var[0]]=p.value_of(varsILP[var[0]])
						question.Text.gsub! '[' + var[0] + ']', values[var[0]].to_s
						question.Text.gsub! '[' + var[0].downcase + ']', values[var[0]].to_s
					end
				%>
				<%=question.Text.html_safe%>
				<small id="HelpBlock" class="form-text text-muted FRM" style="margin-bottom:5px;">
					The answer should be rounded to 2 decimals.
				</small>
				<input class="form-control w-25" name="FRMAnswer-<%=@questions.index(question)%>" placeholder="Answer" id="question_FRMAnswer-<%=@questions.index(question)%>" style="display: inline-block" type="number" step=".01"  value="<%= answers[@questions.index(question)] %>" disabled>
				<input type="hidden" id="question_FRMvalues-<%=@questions.index(question)%>" name="FRMvalues-<%=@questions.index(question)%>" value="<%=values%>">
				<%end%>
				<p><b>Score: <%= eval(@submission.Scores)[@questions.index(question)]%>/<%=question.Points%></b></p>
		</div>
		<% end %>
		<hr style="border-top: 5px solid rgba(0, 0, 0, 0.1)"/>
		<%= form_with url: feedback_path, method: :post do |form|%>
		<h3>Further feedback to learner</h3><br>
			<%= form.text_area :Feedback, class: "form-control tinymceT", placeholder: "On Question 1..."%>
			<%= form.hidden_field :submission, :value => @submission.id %>
	</div>
	<div class="col-1"></div>	
</div>

<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-1"></div>
	<div class="col-10">
		<br>
		<div class="row">
			<%= link_to 'Back to assessment', '/assessments/'+@submission.assessment_id.to_s , class: "btn btn-primary", style: "margin-left: 25px; margin-top: 10px;"%>
			<%= form.submit 'Send feedback', class: "btn btn-primary", style: "margin-left: 25px; margin-top: 10px;"%>
			<% end %>
		</div>
	</div>
	<div class="col-1"></div>
</div>
<br>
<br>


